.myClass {
  background-color: chartreuse;
}

.homePage {
  display: flex;
  flex-direction: column;
}

.inputForm {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 2px teal;
}

.inputFormBook {
  background-color: #cce6e6;
}

.myBooks {
  background-color: #cce6e6;
  border-radius: 10px;
}

.book {
  background-color: #f2f9f9;
  border-color: solid teal;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.currentBook {
  background-color: #f2f9f9;
  border-color: solid teal;
  margin: 5px;
  border-radius: 10px;
}

.review {
  background-color: red;
  border-color: solid teal;
  margin: 5px;
  border-radius: 10px;
}


.booksActions  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

figure {
  width:200px;
  height:60px;
  cursor:pointer;
  perspective:500px;
  margin-right: 0px;
}

figure div {
  height:100%;
  transform-style:preserve-3d;
  transition:0.25s;

}
figure:hover div {transform:rotateX(-90deg);}

span {
  width:55%;
  height:100%;
  position:absolute;
  box-sizing:border-box;
  border:5px solid #cce6e6;
  font-family:'Source Sans Pro',sans-serif;
  line-height:40px;
  font-size:15pt;
  text-align:center;
  text-transform:uppercase;
}

span:nth-child(1){color:#cce6e6;transform: translate3d(0, 0, 30px);}
span:nth-child(2){color:#f2f9f9;background:#cce6e6;transform: rotateX(90deg) translate3d(0, 0, 30px);}

.myBooks button {
  background-color: #cce6e6 ;
  border: none;
  color: green;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 15px;
  /* width:100%;
  height:100%; */
  text-transform:uppercase;
  font-family:'Source Sans Pro',sans-serif;
}

.deleteButton button{
  color: red;
}

.currentBook{
  background-color: #f2f9f9;
  border-color: solid teal;
  margin: 5px;
  border-radius: 10px;
}

.currentBook h3 {
  color: red;
}