.homePage {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family:'Source Sans Pro',sans-serif;
}

.inputForm {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 2px teal;
}

.inputFormBook {
  background-color: #cce6e6;
}

.myBooks {
  background-color: #cce6e6;
  border-radius: 10px;
}

.book {
  background-color: #f2f9f9;
  border-color: solid teal;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.book a {
  color: teal;
  text-decoration: none;
}

.book a:hover {
  font-size: 17px;
}

.reviewTitle {
  letter-spacing: 25px;
  text-shadow: 1px 1px 2px teal;
  text-transform: uppercase;
}

.review {
  background-color: #cce6e6;
  border-color: solid teal;
  border-radius: 4px;
}


.booksActions  {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

figure {
  width:200px;
  height:60px;
  cursor:pointer;
  perspective:500px;
  margin-right: 0px;
}

figure div {
  height:100%;
  transform-style:preserve-3d;
  transition:0.25s;

}
figure:hover div {transform:rotateX(-90deg);}

span {
  width:55%;
  height:100%;
  position:absolute;
  box-sizing:border-box;
  border:5px solid #cce6e6;
  font-family:'Source Sans Pro',sans-serif;
  line-height:40px;
  font-size:15pt;
  text-align:center;
  text-transform:uppercase;
}

span:nth-child(1){color:#cce6e6;transform: translate3d(0, 0, 30px);}
span:nth-child(2){color:#f2f9f9;background:#cce6e6;transform: rotateX(90deg) translate3d(0, 0, 30px);}

.myBooks button {
  background-color: #cce6e6 ;
  border: none;
  color: green;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  text-transform:uppercase;
  font-family:'Source Sans Pro',sans-serif;
}

.deleteButton button{
  color: red;
}

.myBooks .sortButton {
  color: #2F70A9;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
}

.myBooks .sortButton button {
  background-color: white; 
  color: black; 
  border: 2px solid #2F70A9;
  width: 13%;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  transition-duration: 0.4s;
}

.myBooks .sortButton button:hover {
  background-color: #2F70A9;
  color: white;
}

.currentBook{
  background-color: #f2f9f9;
  border-color: solid teal;
  border-radius: 10px;
  font-size: 16px;
}

.currentBook .bookData {
  padding-top: 25px;
  font-size: 20px;
}

.buttonPage {
  background-color: white; 
  color: black; 
  border: 2px solid #2F70A9;
  width: 7%;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 9.5% 2px;
  transition-duration: 0.4s;
}

.buttonPage:hover {
  background-color: #2F70A9;
  color: white;
}

.row {
  margin-right: 0;
  margin-left: 0;
}